header {
	background-color: #061148;
	padding: 20px;
	color: white;
	font-family: Arial, sans-serif;
}

#portfolio {
	text-align: center;
	font-size: 40px;
}

ul {
	marker: none;
}

#u-style {
	font-size: 18px;
	padding-left: 750px;
	color: white;
}

a {
	color: white;
}

main {
	color: #061148;
	font-family: Arial, sans-serif;
}

.h1 {
	font-size: 30px;
}

.spisok {
	font-size: 24px;
}

table {
	border: 1px solid black;
}

img {
	max-height: 400px;
	height: 100%;
	max-width: 500px;
	width: 100%;
}

.p {
	font-size: 18px;
}

footer {
	text-align: center;
	background-color: #061148;
	padding: 20px;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 16px;
}